{% ckan_extends %}


{% block search_sortby %}
    {% if sorting %}
      <div class="form-select control-group control-order-by">
        {% if h.check_access('sysadmin') %}
          {% link_for _('Download as CSV'), controller='ckanext.seedplugin.controller:SEEDController', action='download_results', class_='btn btn-primary seed-download-results', icon='plus-sign-alt', params=request.params %}
        {% endif %}
        <label for="field-order-by">{{ _('Order by') }}</label>
        <select id="field-order-by" name="sort">
          {% for label, value in sorting %}
            {% if label and value %}
              <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
            {% endif %}
          {% endfor %}
        </select>
        {% block search_sortby_button %}
        <button class="btn js-hide" type="submit">{{ _('Go') }}</button>
        {% endblock %}
      </div>
    {% endif %}
{% endblock %}
