{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 65 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
{% set counter = counter %}

{% block package_item %}
  <li class="{{ item_class or "dataset-item" }} seed-dataset-items">
    {% block content %}
    <div class="seed-dataset-item">
      <div class="dataset-content">
        {% block heading %}
          <h3 class="dataset-heading">
            {% block heading_private %}
              {% if package.private %}
                <span class="dataset-private label label-inverse">
                  <i class="fa fa-lock"></i>
                  {{ _('Private') }}
                </span>
              {% endif %}
            {% endblock %}
            <div class="seed-dataset-accordion-btn">
                <a class="btn a-expand" data-index="{{counter}}">
                    <span title="Show less">Show less</span>
                    <i></i>
                    <!-- <span class="datasets-tooltip">Collapse</span> -->
                </a>
            </div>
            {% block view_add_selection %}
              {% if package.map_type and package.map_service_id and package.layer_list_name and package.layer_catalog_name %}
                {% set view_on_map='http://geo.dev.edptest.info/EDP_DEV_Viewer/Index.html?viewer=EDP_DEV_Viewer&locale=en-AU&runWorkflow=AppendLayerCatalog&CatalogLayer=' + package.layer_catalog_name +'.' + package.map_service_id + '.' + package.layer_list_name|replace(' ', '%20') +'&MapServiceID='+ package.map_service_id + '&LayerListName=' + package.layer_list_name|replace(' ', '%20') %}
              {% else %}
                {% set view_on_map='' %}
              {% endif %}
                <div class="checkbox-dataset">
                  <input type="checkbox" id='{{ package.id }}' value="{{counter}}" class="view-map-checkbox" name='view-on-map' {% if view_on_map %} data-mapservice="{{ package.map_service_id }}" data-listname="{{ package.layer_list_name }}" data-catalogname="{{ package.layer_catalog_name }}" {% endif %} data-title="{{ package.title }}" data-name="{{ package.name }}"></input>
                  <label for="{{ package.id }}" class="view-on-map-label">Add to selection</label>
                </div>
            {% endblock %}
            <div class="seed-dataset-title-label">
            {% block heading_title %}
              <span class="seed-package-title-heading">
                {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
              </span>
            {% endblock %}
            {% block heading_meta %}
              {% if package.get('state', '').startswith('draft') %}
                <span class="label label-info">{{ _('Draft') }}</span>
              {% elif package.get('state', '').startswith('deleted') %}
                <span class="label label-important">{{ _('Deleted') }}</span>
              {% endif %}
              {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
            {% endblock %}
            </div>
          </h3>
        {% endblock %}
        <div class="seed-dataset collapse in seed-dataset{{counter}}">
            {% block banner %}
              {% if banner %}
                <span class="banner">{{ _('Popular') }}</span>
              {% endif %}
            {% endblock %}
            {% block notes %}
              {% if notes %}
                <div>{{ notes|urlize }}</div>
              {% else %}
                <p class="empty">{{ _("This dataset has no description") }}</p>
              {% endif %}
            {% endblock %}
            {% block view_dataset %}
              <a href="{{ g.site_url }}/dataset/{{ package.id }}" class="seed-dataset-button">View Data</a>
            {% endblock %}
            {% block view_on_map %}
              {% if package.map_type and package.map_service_id and package.layer_list_name and package.layer_catalog_name %}
                {% set mapurl='http://geo.dev.edptest.info/EDP_DEV_Viewer/Index.html?viewer=EDP_DEV_Viewer&locale=en-AU&runWorkflow=AppendLayerCatalog&CatalogLayer=' + package.layer_catalog_name +'.' + package.map_service_id + '.' + package.layer_list_name|replace(' ', '%20') +'&MapServiceID='+ package.map_service_id + '&LayerListName=' + package.layer_list_name|replace(' ', '%20') -%}
              <a href="{{ mapurl }}" class="seed-dataset-button">View on Map</a>
              {% endif %}
            {% endblock %}
        </div>
      </div>
        <div class="seed-dataset-resource collapse in seed-dataset-resource{{counter}}">
          {% block resources %}
            {% if package.resources and not hide_resources %}
              {% block resources_outer %}
                <ul class="dataset-resources unstyled">
                    {% block resources_inner %}
                          {% for resource in h.dict_list_reduce(package.resources, 'format') %}
                             <li>
                                <p class="label seed-dataset-resource-item" data-format="{{ resource.lower() }}">{{ resource }}</p>
                             </li>
                          {% endfor %}
                    {% endblock %}
                </ul>
              {% endblock %}
            {% endif %}
          {% endblock %}
        </div>
    </div>
    {% endblock %}
  </li>
{% endblock %}
