.fcol-heading {
    font-weight: 700;
    font-size: 19px;
}

@media (min-width: @width-768) {
    .col-sm-4 {
        float: left;
    }
    .footer-above {
        .container {
            width: 550px;
            .row {
                margin-left: 0;
            }
        }
    }
}

@media (min-width: @width-992) {
    .col-sm-4 {
        float: left;
    }
    .footer-above {
        .container {
            width: 750px;
            .row {
                margin-left: 0;
            }
        }
    }
}