@seedFFF: #fff;
@seedEEE: #eee;
@seedDDD: #ddd;
@seedPink: #c04deb;
@seed6A: #6a6a6a;
@seedD4: #d4d4d4;
@seedF5: #f5f5f5;
@seedF5: #f5f5f5;
@seedFB: #fbfbfb;
@seed50: #505050;
@seedBlue: #29a8f1;
@seedLightGrey: #f1f6fc;

@hd-top: 1499px;
@wide-top: 1279px;
@desktop-top: 1099px;
@tablet-top: 979px;
@mobile-top: 767px;
@mobile500: 500px;
@mobile480: 480px;
@mobile375: 375px;
@mobile360: 360px;
@mobile-min: 320px;
