{% ckan_extends %}


{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading">{% block page_heading %}{{ _('Login') }}{% endblock %}</h1>
      {% block form %}
        {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block secondary_content %}
  {% if h.check_access('user_create') %}
  {% block help_register %}
  {% endblock %}
  {% endif %}

  {% block help_forgotten %}
  <section class="module module-narrow module-shallow">
    {% block help_forgotten_inner %}
    <h2 class="module-heading">{{ _('Forgotten your password?') }}</h2>
    <div class="module-content">
      <p>{% trans %}Please contact your system administrator to reset your password.{% endtrans %}</p>
      <p class="action" style="display:none;">
        {% block help_forgotten_button %}
        <a class="btn" style="display:none;" href="{{ h.url_for(controller='user', action='request_reset') }}">{{ _('Forgot your password?') }}</a>
        {% endblock %}
      </p>
    </div>
    {% endblock %}
  </section>
  {% endblock %}
{% endblock %}
